<!DOCTYPE html>
<html lang="en">

<head>
    <title>OpenLibrary API</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet"  href="stylesheet.css" />
</head>

<body>
    <div id="app">
        <div id="scanpopup" class="popup hide">
            <span class="popuptext">
                {{ connectionStatus }}
            </span>
        </div>

        <div style="position:relativ;">
            <input id="inputField" type="number" v-model="isbn" @keyup.enter="GetBookByIsbn">
            <button class="btn btn-dark" type="button" @click="GetBookByIsbn">search</button>
            <button class="btn" @click="OpenWebSocket">Begin scan</button>
        </div>  
        
        <div v-show="show">
            
            <div class="BookData"> 
                Titles: {{ title }}
            </div>
            <div class="BookData"> 
                Author: {{ personalAuthorName }}
            </div>

            <div class="BookData" >
                Number of pages: {{ numberOfPages }}
            </div>
            
            <div class="BookData" >
                Genre: 
                <li v-for="(value) in subjects">
                    {{ value }}
                </li>   
            </div>

            <div class="BookData" >
                Language(s): {{ languageTrimmed }}
            </div>

            <div class="BookData" >
                Publish Date: {{ publishDate }}
            </div>

            <div class="buttonPosition">
                <select v-model="addToListProps.listID">
                    <option v-for="name in listName" v-text="name.list_Name" :value="name.id"></option>
                </select>
                <button class="btn btn-success" @click="AddBookToList()">Tilføj til liste</button>
            </div>        
        
            <div class="buttonPosition" >
                <input type="text" v-model="createNewList">
                <button class="btn btn-success" @click="CreateNewList();">Lav ny liste </button>
            </div>    

        </div>    
    </div>

<script src="./index.js"></script>
<script>app.mount("#app");</script>
</body>
</html>